block body
    nav.site-header.sticky-top.py-1
        .container.d-flex.flex-column.flex-md-row.justify-content-between
            a.py-2.d-none.d-md-inline-block(href='') Articles
            a.py-2.d-none.d-md-inline-block(href='/publish') Publish
            a.py-2.d-none.d-md-inline-block(href='/users') Users
            a.py-2.d-none.d-md-inline-block(href='/comments') Comments
            a.py-2.d-none.d-md-inline-block(href='/user') Account
            a.py-2.d-none.d-md-inline-block(href='/logout') logout