extends ../node_modules/pug-bootstrap/_bootstrap.pug
block body
    block header
    nav.navbar.navbar-default.navbar-fixed-top
        .container
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href='/articles') Articles
                    li
                        a(href='/publish') Publish
                    li
                        a(href='/users') Users
                    li
                        a(href='/comments') Comments
                    li
                        a(href='/user') Account
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='./logout')
                            | Logout
                            span.sr-only (current)
    block content