extends ./layout.pug
append header
    div.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
        img.my-0.mr-md-auto(src='/media/logo.png', alt='', width='52', height='52')
        nav.my-2.my-md-0.mr-md-3
            a.p-2.text-dark(href='/articles') Articles
            if is_admin
                a.p-2.text-dark(href='/publish') Publish
                a.p-2.text-dark(href='/users') Users
            a.p-2.text-dark(href='/comments') Comments
            a.p-2.text-dark(href='/user') Account
        a.btn.btn-outline-danger(href='/logout') Log out